body
{
	background-image:url("img/background.jpg");
	/*background-attachment:fixed;*/
	background-repeat:repeat-x;
	background-color:#050505;
	color: white; /* Commentaire */
}

#global
{
	background-image:url("img/content_background.png");
	background-repeat:repeat-y;
	margin-left: 100;
	margin-right: 100;
	width: 100;
	text-align: left;
}