@font-face
{
	font-family:'Ostrich';
	src:url('fonts/ostrich-black.ttf');
	font-weight: normal;
	font-style: normal;
}


body
{
	background-color:white;
	color: black;
	font-family:'Ostrich', 'Trebuchet MS', 'Arial';
}

#global
{
	width:900px;
	margin:auto;
}

/***************** Header *****************/
header
{
	background: -webkit-linear-gradient(#FFFFFF, #F0F0F0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF, #F0F0F0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #F0F0F0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #F0F0F0); /* Standard syntax */
	
	padding-left:15px;
	padding-right:15px;
	border-bottom: 2px solid black;
	margin-bottom:35px;
}

header h1
{
	font-size: 18px;
	padding-left:10px;
	color:black;
	text-decoration:none;
}

header h1, img
{
	display:inline-block;
}

nav
{
	display:inline-block;
	width:650px;
	text-align: right;
}

nav ul
{
	list-style-type:none;
	padding:0;
	margin:0;
}

nav li
{
	display:inline-block;
}

nav ul li a, #Current
{
	color:black;
	text-decoration:none;
	padding-left:10px;
}

nav ul li  a:hover
{
	text-decoration:underline;
}

/*nav ul li #Current
{
	font-style:bold;
}*/


/***************** Content *****************/
section
{
	width:850px;
	margin:auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

section div h2
{
	font-size: 18px;
	margin-bottom:0px;
}

section div a
{
	font-size: 18px;
	margin-bottom:0px;
	color:black;
	text-decoration:none;
}

section div a:hover
{
	text-decoration:underline;
}

section img
{
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

#Showcase
{
	height: auto;
	text-align: center;
}

#Showcase div
{
	display:inline-block;
}

#About, #Contact, #SendEmail
{
	width:850px;
	height: auto;
	min-height:300px;
	margin:auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
}

#About div, #Contact div, #SendEmail div
{
	padding-left: 50px;
}

#Plugin div
{
	font-family:'Arial', 'Trebuchet MS';
	padding-left: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#Plugin div video, #Plugin div object
{
	padding-left: 12px;
}

#About div h2
{
	margin-bottom:15px;
}

/*#Contact input, textarea
{
	text-align: right;
}*/
label
{
	display: block;
	width: 150px;
	float:left;
	font-size:20px;
	padding-top:2px;
}

input, textarea
{
	width:600px;
}

#CaptchaImg
{
	float:right;
	margin:0px;
	padding:0px;
	margin-right:44px;
	box-shadow: none;
}

#captcha
{
	width:200px;
}
#ButtonWraper
{
	position:relative;
	padding-bottom:30px;
}

#SendButton
{
	width:100px;
	height:30px;
	position:absolute;
	right:44px;
	
	color:white;
	font-size:21px;
	font-family:'Ostrich', 'Trebuchet MS', 'Arial';
	
	border:0px;
	background-color:black;
}

#SendButton:hover
{
	color:black;
	background-color:#FFFFFF;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

textarea
{
	height:150px;
	resize:vertical;
}

/***************** Footer *****************/